// searcher component

.searcher {
    // input search by name or type
    &__input {
        @include box(89.7%, 2.2rem, 0.3rem, 1.2rem);
        max-width: 89%;
        border: 0.02rem solid rgb(105, 103, 103);
        margin-top: 0.2rem;
    }

    &__title {
        @include text(left, 1.4rem, 700);
        margin-top: 1.8rem;
        color: #03c1d8;
    }

    &__results {
        // list results container
        width: 100%;
        height: 100%;
        border: 1px solid black;
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
        background: #e9e7e5;
    }

    &__button {
        width: 100%;
    }

    &__name,
    &__type {
        input {
            position: relative;
            top: 0.1rem;
            margin-right: 1rem;
        }
    }

    // aux. classes

    // hide element
    .hide {
        display: none;
    }

    // list element selected
    .seleccionado {
        background: $blueAlien;
    }
}

// media querie breakpoints

/* large */
@media (max-width: $largeBreakpoint) {
    .searcher {
		max-width: 100% !important;
        // margin-top: -45%;
        &__input {
            width: 80% !important;
        }
    }
}

/* medium */
@media (max-width: $mediumBreakpoint) {
    .searcher {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform: translateY(-200%);


		&__title {
			font-size: 2rem;
		}

		&__input {
			margin: 0 auto;
		}

		&__name, &__type {
			display: flex;
			justify-content: center;
		}


    }
}

/* small */
@media (max-width: $smallBreakpoint) {

	.searcher {
		transform: translateY(-160%);
	}
}

/* xs */
@media (max-width: $xsBreakpoint) {

	.searcher {
		transform: translateY(-160%);


		&__input {
			width: 70% !important;
		}
	}
}