// searcher component

.searcher {
	width: 56rem;

	// input search by name or type
	#searcher-input {
		@include caja(56rem, 2.2rem, 0.3rem, 1.2rem);
		border: 0.02rem solid rgb(105, 103, 103);
		margin-top: 2rem;
	}

	&__results {
		// list results container
		width: 100%;
		height: 100%;
		border: 1px solid black;
		border-bottom-left-radius: 0.3rem;
		border-bottom-right-radius: 0.3rem;
		background: #E9E7E5;

		
	}

	&__name, &__type {
		input {
			position: relative;
			top: .1rem;
			margin-right: 1rem;
		}
	}

    // aux. classes
    
    // hide element
	.hide {
		display: none;
    }

    // list element selected
    .seleccionado {
        background: $blueAlien;
    }
    

}
