// modal component
.overlay {
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 2;
    cursor: pointer; 

    .modal-position {
        @include box(38rem, 29.6rem, 10px, 2rem);
        background:  $blueRick;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        transform: translate(-50%, -50%);
        
        .modal {
            display: flex;
            flex-direction: column;

            height: 100%;
            width: 100%;

            &__header {
                height: 32%;
                text-align: center;

                h2 {
                    @include text(center, 1.6rem, 700);
                    margin-top: 1.6rem;
                }
            }

            &__body {
                height: 68%;
                
                &--image {
                    margin: -.4rem auto;
                    width: 100%;
                    height: 9.5rem;
                    @include flexCenter(column nowrap, $isFlow: true);
                    
                    img {
                        
                        object-fit: contain;
                        width: 100%;
                    }
                }

                &--info {
                    margin-top: 6.8rem;
                    display: flex;
                    justify-content: center;
                    
                    .info-col2 {
                        margin-left: 3.4rem;
                    }

                    p {
                        @include text(left, 1rem, 700);
                        color: #4545df;
                        line-height: 1rem;

                        .info-name {
                            color: $primary;
                        }
                    }

                }


            }
        }
    }
}
