.main .element {
  color: #b5f4fb;
}

.main .other-element {
  background: #e5f3fe;
}

.main__container {
  margin-bottom: 5rem;
}

.rick-pic {
  position: absolute;
  top: 38vh;
}

.sidebar {
  padding: 2rem;
  height: 100vh;
}

.sidebar__filters h4 {
  font-weight: 700;
}

.card {
  width: 11.6rem;
  height: 14.5rem;
  border-radius: 0.9rem;
  padding: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-width: 12rem;
  max-height: 100%;
  margin-top: 2rem;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
}

.card__header {
  height: 100%;
}

.card__header h4 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 1%;
  position: relative;
  color: #3c3e44;
}

.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.card__body img {
  width: 100%;
  height: 100%;
}

.custom-height {
  height: 9.5rem !important;
}

.first-card {
  border: 1px solid #0000FF;
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-box-shadow: 0px 0px 12px 2px #0000FF;
          box-shadow: 0px 0px 12px 2px #0000FF;
}

.first-card:hover {
  -webkit-box-shadow: 0px 0px 34px 4px #0000FF;
          box-shadow: 0px 0px 34px 4px #0000FF;
}

.filter {
  margin-top: 1.5rem;
}

.filter label {
  font-weight: 500;
  width: 7rem;
}

.filter label input {
  margin: 0.2rem 0.9rem 0 -0.9rem;
  width: 1.2rem;
  height: 1rem;
  position: relative;
  top: .1rem;
}

.filter label input:hover {
  cursor: pointer;
}

.filter label input:checked:before {
  content: "";
  display: block;
  position: relative;
  top: 3.3px;
  left: 26%;
  width: 9.5px;
  height: 9.5px;
  border-radius: 50%;
  background: #0bd7ee;
}

.searcher__input {
  width: 89.7%;
  height: 2.2rem;
  border-radius: 0.3rem;
  padding: 1.2rem;
  border: 0.02rem solid #696767;
  margin-top: .2rem;
}

.searcher__title {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 1.8rem;
  color: #03C1D8;
}

.searcher__results {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  background: #E9E7E5;
}

.searcher__name input, .searcher__type input {
  position: relative;
  top: .1rem;
  margin-right: 1rem;
}

.searcher .hide {
  display: none;
}

.searcher .seleccionado {
  background: #b5ece1;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.overlay .modal-position {
  width: 38rem;
  height: 29.6rem;
  border-radius: 10px;
  padding: 2rem;
  background: #0bd7ee;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overlay .modal-position .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.overlay .modal-position .modal__header {
  height: 32%;
  text-align: center;
}

.overlay .modal-position .modal__header h2 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 1.6rem;
}

.overlay .modal-position .modal__body {
  height: 68%;
}

.overlay .modal-position .modal__body--image {
  margin: -.4rem auto;
  width: 100%;
  height: 9.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.overlay .modal-position .modal__body--image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.overlay .modal-position .modal__body--info {
  margin-top: 6.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay .modal-position .modal__body--info .info-col2 {
  margin-left: 3.4rem;
}

.overlay .modal-position .modal__body--info p {
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
  color: #4545df;
  line-height: 1rem;
}

.overlay .modal-position .modal__body--info p .info-name {
  color: #3c3e44;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background: #0bd7ee;
  width: 100%;
  height: 3.5rem;
  margin-top: -6vh;
  z-index: 9999;
}

.footer__name {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #121212;
  margin-left: 2.95rem;
  padding: .4rem;
}

.footer__name ion-icon {
  font-size: 1.7rem;
  position: relative;
  top: .5rem;
  right: .4rem;
}

.footer__links--repo {
  text-decoration: none;
}

.footer__links--repo ion-icon {
  font-size: 1.7rem;
  padding: 0.85rem;
  margin-right: 0.5rem;
  color: #121212;
}

body {
  background: #b5f4fb;
  overflow-x: hidden;
}

.vl {
  border-left: 6px solid white;
  position: absolute;
  left: 20%;
  height: 100%;
  z-index: -1;
}
