.main .element {
  color: #b5f4fb;
}

.main .other-element {
  background: #e5f3fe;
}

.main {
  width: 100%;
}

.main__container {
  margin-bottom: 5rem;
}

.rick-pic {
  position: absolute;
  top: 36vh;
}

@media (max-width: 1152px) {
  row-cards {
    margin-top: -80%;
  }
}

@media (max-width: 989px) {
  .rick-pic {
    display: none;
  }
  .row-cards {
    margin-top: -55%;
  }
}

@media (max-width: 576px) {
  .row-cards {
    margin-top: -17rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 449px) {
  .row-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
}

.sidebar {
  padding: 2rem;
  height: 100vh;
}

.sidebar__filters h4 {
  font-weight: 700;
}

@media (max-width: 989px) {
  .sidebar__filters h4 {
    text-align: center;
    font-size: 2.5rem;
  }
  .sidebar__filters .special-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 576px) {
  .sidebar__filters .special-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card {
  width: 11.6rem;
  height: 14.5rem;
  border-radius: 0.9rem;
  padding: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-width: 12rem;
  max-height: 100%;
  margin-top: 2rem;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
}

.card__header {
  height: 100%;
}

.card__header h4 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 1%;
  position: relative;
  color: #3c3e44;
}

.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.card__body img {
  width: 100%;
  height: 100%;
}

.custom-height {
  height: 9.5rem !important;
}

.first-card {
  border: 1px solid #4545df;
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-box-shadow: 0px 0px 12px 2px #4545df;
          box-shadow: 0px 0px 12px 2px #4545df;
}

.first-card:hover {
  -webkit-box-shadow: 0px 0px 34px 4px #4545df;
          box-shadow: 0px 0px 34px 4px #4545df;
}

@media (max-width: 449px) {
  .card {
    max-width: 100%;
    width: 16rem;
    height: 100% !important;
    margin: 2rem auto;
  }
  .card__header h4 {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .card__body p {
    font-size: 1.3rem;
  }
}

.filter {
  margin-top: 1.5rem;
}

.filter label {
  font-weight: 500;
  width: 7rem;
}

.filter label input {
  margin: 0.2rem 0.9rem 0 -0.9rem;
  width: 1.2rem;
  height: 1rem;
  position: relative;
  top: .1rem;
}

.filter label input:hover {
  cursor: pointer;
}

.filter label input:checked:before {
  content: "";
  display: block;
  position: relative;
  top: 3.3px;
  left: 26%;
  width: 9.5px;
  height: 9.5px;
  border-radius: 50%;
  background: #0bd7ee;
}

@media (max-width: 576px) {
  .filter label {
    font-size: 1rem;
  }
}

.searcher__input {
  width: 89.7%;
  height: 2.2rem;
  border-radius: 0.3rem;
  padding: 1.2rem;
  max-width: 89%;
  border: 0.02rem solid #696767;
  margin-top: 0.2rem;
}

.searcher__title {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 1.8rem;
  color: #03c1d8;
}

.searcher__results {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  background: #e9e7e5;
}

.searcher__button {
  width: 100%;
}

.searcher__name input, .searcher__type input {
  position: relative;
  top: 0.1rem;
  margin-right: 1rem;
}

.searcher .hide {
  display: none;
}

.searcher .seleccionado {
  background: #b5ece1;
}

/* large */
@media (max-width: 1152px) {
  .searcher {
    max-width: 100% !important;
  }
  .searcher__input {
    width: 80% !important;
  }
}

/* medium */
@media (max-width: 989px) {
  .searcher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  .searcher__title {
    font-size: 2rem;
  }
  .searcher__input {
    margin: 0 auto;
  }
  .searcher__name, .searcher__type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* small */
@media (max-width: 576px) {
  .searcher {
    -webkit-transform: translateY(-160%);
            transform: translateY(-160%);
  }
}

/* xs */
@media (max-width: 449px) {
  .searcher {
    -webkit-transform: translateY(-160%);
            transform: translateY(-160%);
  }
  .searcher__input {
    width: 70% !important;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 999999;
}

.overlay .modal-position {
  width: 38rem;
  height: 29.6rem;
  border-radius: 10px;
  padding: 2rem;
  max-width: 100%;
  background: #0bd7ee;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overlay .modal-position .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.overlay .modal-position .modal__header {
  height: 32%;
  text-align: center;
}

.overlay .modal-position .modal__header h2 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  margin-top: 0.95rem;
}

.overlay .modal-position .modal__body {
  height: 68%;
}

.overlay .modal-position .modal__body--image {
  margin: -0.4rem auto;
  width: 100%;
  height: 9.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.overlay .modal-position .modal__body--image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.overlay .modal-position .modal__body--info {
  margin-top: 6.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay .modal-position .modal__body--info .info-col2 {
  margin-left: 3.4rem;
}

.overlay .modal-position .modal__body--info p {
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
  color: #4545df;
  line-height: 1rem;
}

.overlay .modal-position .modal__body--info p .info-name {
  color: #3c3e44;
}

.overlay .modal-position .modal ion-icon {
  position: absolute;
  left: 91%;
  top: 0.9%;
  font-size: 2rem;
}

.overlayEpiLoc {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  z-index: 999999;
}

.overlayEpiLoc .modal-position {
  width: 50rem;
  height: 27rem;
  border-radius: 10px;
  padding: 2rem;
  max-width: 100%;
  background: #0bd7ee;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overlayEpiLoc .modal-position .modalEpiLoc__header h2 {
  color: #3c3e44;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.overlayEpiLoc .modal-position .modalEpiLoc__body {
  margin-top: 0.1rem;
}

.overlayEpiLoc .modal-position .modalEpiLoc__body--info p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #3c3e44;
}

.overlayEpiLoc .modal-position .modalEpiLoc__body--info p .info-name {
  color: #4545df;
}

.overlayEpiLoc .modal-position .modalEpiLoc__body--chars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-top: -2%;
}

.overlayEpiLoc .modal-position .modalEpiLoc__body--chars .card {
  margin-left: 0.4rem;
  height: 12rem !important;
}

.overlayEpiLoc .modal-position .modalEpiLoc__body--chars .card__header h4 {
  font-size: 1rem;
}

.overlayEpiLoc .modal-position .modalEpiLoc__body--chars .card__body img {
  height: 100%;
}

.overlayEpiLoc .modal-position .modalEpiLoc__body--chars .card:hover {
  cursor: default;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.overlayEpiLoc .modal-position .modalEpiLoc ion-icon {
  position: absolute;
  left: 88%;
  top: 0.9%;
  font-size: 2rem;
  --ionicon-stroke-width: 16px;
}

@media (max-width: 989px) {
  .overlay .modal-position {
    width: 80vw;
    max-width: 100%;
    overflow: hidden;
  }
  .overlayEpiLoc .modal-position {
    height: 80vh !important;
    width: 95vw !important;
  }
  .overlayEpiLoc .modal-position .modalEpiLoc__body--chars {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .overlayEpiLoc .modal-position .modalEpiLoc__body--chars .card {
    width: 16.8vw;
    height: 12rem !important;
  }
}

@media (max-width: 576px) {
  .overlay .modal-position {
    width: 95vw;
  }
  .overlayEpiLoc .modal-position {
    width: 100vw !important;
    height: 96vh !important;
    overflow: auto;
  }
  .overlayEpiLoc .modal-position .modalEpiLoc__body--chars {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .overlayEpiLoc .modal-position .modalEpiLoc__body--chars .card {
    width: 90vw;
    height: 23rem !important;
    margin: 1rem auto;
  }
  .overlayEpiLoc .modal-position .modalEpiLoc__body--chars .card__header h4 {
    font-size: 1.5rem !important;
    padding: 0.4rem;
    font-weight: 700;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background: #0bd7ee;
  width: 100%;
  height: 3.5rem;
  margin-top: -6vh;
  z-index: 9999;
}

.footer__name {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #121212;
  margin-left: 2.95rem;
  padding: .4rem;
}

.footer__name ion-icon {
  font-size: 1.7rem;
  position: relative;
  top: .5rem;
  right: .4rem;
}

.footer__links--repo {
  text-decoration: none;
}

.footer__links--repo ion-icon {
  font-size: 1.7rem;
  padding: 0.85rem;
  margin-right: 0.5rem;
  color: #121212;
}

body {
  background: #b5f4fb;
  width: 100%;
  height: 100%;
  margin: 0;
}

.vl {
  border-left: 6px solid white;
  position: absolute;
  left: 20%;
  height: 100%;
  z-index: -1;
}

@media (max-width: 1152px) {
  .vl {
    display: none;
  }
}
