.main .element {
  color: #b5f4fb;
}

.main .other-element {
  background: #e5f3fe;
}

.card {
  width: 15rem;
  height: 18rem;
  border-radius: 0.9rem;
  padding: 0.9rem;
  margin-top: 2rem;
}

.card__header {
  height: 9rem;
}

.card__header img {
  width: 100%;
}

.card__body h4 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1.5rem;
}

.searcher {
  width: 39.6875rem;
}

.searcher #searcher-input {
  width: 39.6875rem;
  height: 2.2rem;
  border-radius: 0.3rem;
  padding: 1.2rem;
  border: 0.02rem solid #696767;
  margin-top: 2rem;
}

.searcher__results {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  background: #E9E7E5;
}

.searcher__results ul {
  list-style-type: none;
  width: 100%;
  padding-left: 0;
}

.searcher__results ul li {
  padding-top: 0.8rem;
  padding-left: 1.1rem;
  font-size: 1.1rem;
  list-style: none;
}

.searcher__results ul li:hover, .searcher__results ul li:focus-within > ul {
  background: #a7f3e4;
}

.searcher__name input, .searcher__type input {
  position: relative;
  top: .1rem;
}

.searcher .hide {
  display: none;
}

.searcher .seleccionado {
  background: #a7f3e4;
}

body {
  background: #b5f4fb;
}
