// footer component

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background: $blueRick;
    width: 100%;
    height: 3.5rem;
    margin-top: -6vh;
    z-index: 9999;

    &__name {
        @include text(center, 1rem, 500);
        color: $dark;
        margin-left: 2.95rem;
        padding: .4rem;

        ion-icon {
            font-size: 1.7rem;
            position: relative; 
            top: .5rem;
            right: .4rem;
        }
    }

    &__links {
        &--repo {

            text-decoration: none;

            ion-icon {
                font-size: 1.7rem;
                padding: 0.85rem;
                margin-right: 0.5rem;
                color: $dark;
            }
        }
    }
}
